__pycache__/ 
*.py[cod] 
*.pyo 
*.pyd 
venv/ 
.env 
.env.* 
.envrc 
*.log 
.DS_Store 
Thumbs.db 
.vscode/ 
*.egg 
*.egg-info/ 
.idea/ 
*.ipynb_checkpoints 
.pytest_cache/ 
/forecasts/ 
latest_forecast.txt 
